*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d35400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    position: absolute;
    top: 1px;
    left: 2px;
    background: linear-gradient(white, orange,yellow,white);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(255,255,255,0.5) ;
    width: 300px;
    height: 300px;
    margin: 0 5px;
    border-radius: 10px;
}

h3{
   margin: 10px 0 70px 0; 
   color: #d35400;
   /* text-shadow: 3px 3px 6px rgb(153, 153, 153); */
}

.display{
    width: 60%;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #d35400;
}

.btn{
    padding: 10px;
    margin-top: 10px;
    width: 90px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.95);
}

.add{
}

@media (max-width:300px){
    .btn{
        padding: 0px;
        width: 70px;
    }

}